@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
/*---------------------LOGO-----------*/

.logo {
  height: 200px;
  width: 200px;
  position: relative;
  left: 50px;
  top: 20px;
  float: left;
  z-index: 2;
  border-radius: 40%;
}
/*---------------------HEADER-------------*/

header {
  height: 180px;
}

.jumbotron-header {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 700;
}

/*---------------------CALLOUT-------------*/
.callout-container {
  height: 60vh;
  background: url(../assets/images/bamboo.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.jumbotron {
  float: right;
  background-color: #d39e0059;
}
/*---------------------NAVBAR-------------*/

#menu {
  font-size: 180%;
  list-style-type: none;
  letter-spacing: 4px;
  float: right;
  color: #674f08;
  padding-top: 15px;
  padding-right: 70px;
  font-family: "Oswald", cursive, sans-serif;
  font-weight: 400;
}

#menu li {
  margin-right: 30px;
  float: left;
}

#menu li:hover {
  background-color: #674f08;
  color: #fafafa;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

/*---------------------TEXT-------------*/

.what-we-do {
  text-align: justify;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 110px;
  height: 300px;
  padding-bottom: 20px;
}
.about-heading {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #a87b00;
  text-align: center;
}
.membership-heading{
    font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;

}
.about-text {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  width: 50%;
  text-align: justify;
  position: relative;
  color: #a87b00;
}

.who-we-are {
  align-content: right;
  display: inline-block;
  flex-direction: row-reverse;
}

h4{
    font-family:"Oswald",sans-serif;
    font-weight:200;
    letter-spacing: 2px;
    line-height: 40px;
}

.membership{
    color: #ffffff;
}

/*---------------------Images-------------*/

.hero-image {
  padding-top: 0;
  background: url(..assets/images/bamboo.jpg) no-repeat bottom right fixed;
  background-size: contain;
  height: 40vmh;
  width: 100vmh;
}

.three-women {
  width: 500px;
  border-radius: 50%;
  margin: 50px;
  float: right;
}

.three-women-img {
  align-items: right;
  margin: auto 0;
  align-content: center;
}

.friends-of-the-earth{
  width: 300px;

}

/*---------------------Buttons-------------*/

.join-us-btn {
  background-color: #a87b00;
  color: #fafafa;
  float: right;
  margin: 25px;
  border-radius: 2em;
}

.join-us-btn:hover {
  background-color: #fafafa;
  color: #a87b00;
  float: right;
  margin: 25px;
  border-radius: 2em;
  border-color: #a87b00;
}

.join-us-btn h4 {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.join-us-btn h4:hover {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 20px;
  color: #a87b00;
  letter-spacing: 2px;
}

/*---------------------CONTAINER-------------*/

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.first-content {
  height: 500px;
}

.membership {
    height: 500px;
    width:100%;
    background-color: #a87b00;
}

.membership-block{

    position: relative;
    right: 100px;
}
/*---------------------COLOURS-------------

Green: #049107
Gold: #b08100
Brown: #594100
White: #fcfcfc

*/
/*---------------------Footer-------------*/

footer {
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  background-color: #0f6f31;
  width: 100vw;
  padding: 0;
}
li .list-inline-item {
  display: inline-block;
  background-color: #a87b00;
  color: #fafafa;
}

i {
  background-color: white;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.social-links {
  padding-bottom: 15px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}


/*---------------------Media Queries-------------*/

@media (max-width: 768px){
    html, body {
    overflow-x: hidden;
    }
    body {
    position: relative
    }
    footer{
        flex-shrink: 0;
        max-height: 40px;
    }
    #menu{
        padding-left: 0px;
        padding-right: 0px;
    }
    #menu li {
    margin-right: 15px;
    float: left;
    }
}

@media (max-width: 667px){
    .callout-container {
    height: 70vh;
    }
    .full-jacket{

        width: 100vw;
    }
    html, body {
  overflow-x: hidden;
    }
    body {
  position: relative
    }
    .logo{

    
        height: 20vh;
        width: 40vw;
    }

    .jumbotron-header{
        font-size: 4em;
    }
    .hero-image{
        width: 100vw;
    }
    .first-content {
        width: 80vw;
    }
    
    header{ 
    
        height: 120px;}

    .three-women{
        float: left;
        padding: 0;
        margin: 0 auto;
        margin-top:4em;
        align-content: center;
    }

    footer{
        flex-shrink: 0;
        max-height: 30px;
        width: 100%;
    }
    
}
