@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans+Condensed:wght@700&family=Oswald&display=swap");

/*---------------------THEME COLOR---(THIS CHANGES THE THEME COLOR FOR USERS BROWSER)--------*/
.theme-color {
  color: #228b22;
}

/*---------------------LOGO-----------*/
body {
  overflow-x: hidden;
}

.logo {
  width: 18em;
  position: relative;
  bottom: 60px;
  z-index: 2;
  border-radius: 40%;
  border-bottom-right-radius: 60%;
}

.times-logo {
  opacity: 0.2;
}

.logo-schedule {
  text-align: center;
}

.form-logo {
  width: 100%;
  position: relative;
  top: -30px;
  left: 30px;
  border-radius: 50%;
  border-bottom-right-radius: 70%;
}
/*---------------------HEADER-------------*/

header {
  height: 180px;
}

/*----------NAVBAR MENU AND ICON---------*/
.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0;
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbarNavdropdown {
  z-index: 500;
}

.navbar i {
  color: #674f08;
  font-size: 3em;
  right: 30px;
  top: 1em;
  border-radius: 50%;
}

.navbar-nav {
  font-weight: bold;
  z-index: 400;
}

.mr-2 {
  margin-right: 0;
}

#menu {
  font-size: 1.9em;
  list-style-type: none;
  letter-spacing: 4px;
  color: #674f08;
  background-color: #ffffff;
  position: relative;
  left: 100px;
  bottom: 120px;
  text-align: center;

  font-family: "Oswald", cursive, sans-serif;
}

#menu li {
  margin-right: 30px;
  float: left;
}

#menu li:hover {
  background-color: #0083005b;
  color: #674f08;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

.active {
  background-color: #0083005b;
  color: #674f08;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

#menu a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}
.jumbotron-header {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 5em;
  color: white;
  font-weight: 700;
}

/*---------------------CALLOUT-------------*/
.callout-container {
  height: 80vh;
  background: url(../images/bamboo.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-container7 {
  height: 30vh;
  /*  Photo by Adam Wilson on Unsplash  */
  background: url(../images/gym-wall.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.indexfooter {
  height: auto;
  background: url(../images/bamboo-lower.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 50px;
}

.galleryfooter {
  height: auto;
  background: url(../images/weights.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}
.contactfooter {
  height: auto;
  background: url(../images/cupboard.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}

.classes {
  border-bottom: solid goldenrod;
  text-align: center;
  border-top: solid goldenrod;
}

.classesfooter {
  height: auto;
  background: url(../images/women.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}
.callout-container5 {
  height: auto;
  background: url(../images/bamboo-lower.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 60px;
}

.callout-container2 {
  height: auto;
  background: url(../images/women.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.callout-container3 {
  height: auto;
  background: url(../images/cupboard.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-container4 {
  height: 60vh;
  background: url(../images/weights.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.class-info-container {
  height: auto;
  background: url(../images/women.webP) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.classes {
  padding: 30px;
}

.jumbotron {
  background-color: #ce9a009a;
  padding: 32px;
  height: auto;
  width: auto;
  border-top-left-radius: 60%;
  border-bottom-right-radius: 60%;
  position: relative;
}

hr {
  width: 10em;
  background-color: #e0a500;
  height: 0.15em;
  margin: auto;
}

/*---------------------TEXT-------------*/
.uppercase {
  text-transform: uppercase;
}

.callout h2 {
  font-family: "Oswald", cursive, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 0.8;
}

.highlight-purple {
  color: #48008a;
  font-size: 1.3em;
}

.highlight-white {
  color: #ffffff;
  font-size: 1.3em;
}

.highlight-white:hover,
.highlight-purple:hover {
  font-size: 2em;
  cursor: pointer;
}

.alert a {
  color: #48008a;
}
.what-we-do {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom-left-radius: 20%;
}

.what-we-do h3 {
  text-align: center;
  color: #987108;
  width: 80%;
  padding-left: 70px;
}

.about-heading {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 3.8em;
  color: #4a3700;
  text-align: center;
}
.membership-heading {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 3.8em;
  color: #4a3700;
  text-align: center;
  background: transparent;
}

.what-we-offer {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
}

.what-we-offer h3 {
  text-align: right;
  color: #4a3700;
  width: 80%;
  margin-right: 60px;
  padding: 40px;
  margin-left: 40px;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 1.6em;
}

.membership {
  color: #ffffff;
  z-index: 100;
}

.memberships ul {
  padding-left: 0;
}

.memberships .price {
  font: bolder;
  font-size: 3rem;
  font-family: "Oswald", cursive, sans-serif;
}
.top-return {
  margin: auto;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 30px;
}

.top-return a {
  color: #ffffff;
  text-align: center;
}

/*---------------------Membership Types-------------*/

.membership-title-white {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 3.8em;
  color: #48008a;
  text-align: center;
  background-color: #ffffff;
  border: solid 4px #48008a;
  border-radius: 2em;
  width: 6em;
  margin-bottom: 40px;
  margin: auto;
}

.membership-title-white h2 {
  margin: auto 0;
}

.membership-title-bamboo {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 3.8em;
  color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.class-medals {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 45%;
  z-index: 100;
  height: auto;

  width: auto;
  margin: 1.4em;
}

.facilities {
  text-align: center;
  text-decoration: none;
  background-color: #e0a500;
  border-radius: 20%;
  z-index: 100;
  height: auto;
  width: auto;
  margin: auto;
  border: solid 4px #4a3700;
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
}

.facilities ul {
    padding: 0;
}

.facilities li{
    list-style-type: none;
    text-align: center;
}

.facilities h4 {
    color: #4a3700;
    font-size: 1.5em;
}

.facilities i{
    color: #4a3700;
    font-size: 1.7em;

}
/*--------------------------------- Memberships Medal Feature ----------*/

.memberships {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 50%;
  z-index: 100;
  height: auto;
  opacity: 1;
  width: auto;
  margin: 1.4em;
}
.memberships:hover {
  cursor: pointer;
  transform: scale(1.2);
  position: relative;
  z-index: 10;
}
.memberships h4 {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 3.2em;
}
.memberships li {
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
  list-style-type: none;
}

.memberships i {
  font-size: 4.8em;
}

.bronze {
  color: #ac5a0d;
  border: solid 4px #ac5a0d;
}

.bronze h4 {
  background-color: #ac5a0d;
  color: #faffff;
  border-radius: 1.2em;
}

.silver {
  color: #58574f;
  border: solid 4px #58574f;
}
.silver h4 {
  background-color: #58574f;
  color: #faffff;
  border-radius: 1.2em;
}
.gold {
  color: #987108;
  border: solid 4px #987108;
}

.gold h4 {
  background-color: #987108;
  color: #faffff;
  border-radius: 1.2em;
}
/*---------------------TEAM MEDALS-------------*/
.team-medals {
  color: #4a3700;
  border: solid 4px #4a3700;
  width: 19em;
}
.team-medals h4 {
  background-color: #4a3700;
  color: #ffffff;
  border-radius: 1.2em;
}
/*---------------------CLASS TYPE MEDALS-------------*/

.class-type {
  color: #4a3700;
  border: solid 4px #e0a500;
  border-radius: 45%;
  width: auto;
}

.class.type h4 {
  background-color: #ffffff;
  color: #4a3700;
  border-radius: 1.2em;
}

/*---------------------Images-------------*/

.three-women img {
  width: 80%;
  margin-top: 100px;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
  border: solid #a87b00 4px;
}

.charity img {
  width: 80%;
  margin-top: 130px;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
  margin-left: 70px;
  border: solid #fafafa 4px;
}

.charities img {
  padding-bottom: 35px;
  width: 6em;

}

.charities img:hover {
  opacity: .5;
}

.id-photo {
  height: 80px;
  border-radius: 50%;
}

.gallery img {
  padding: 10px;
  width: 100%;
  border-radius: 3em;
}

.gallery img:hover {
  border: 2px solid #a87b00;
}

.photo .leaf {
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

.qrcode {
  width: 80%;
  margin: auto 0;
  text-align: center;
}

.modal-header {
  text-align: center;
  display: inline;
}

.modal-content {
  text-align: center;
}

.modal-body {
  padding-top: 0;
}

.modal-footer {
  justify-content: center;
}

.modal-footer a {
  color: #ffffff;
  background-color: #48008a;
  border-radius: 2em;
  font-size: 1.8em;
  padding: 5px;
}

/*------ICONS--------*/

.jumbotron i {
  color: #48008a;
  background-color: transparent;
  font-size: 9em;
}

.btn-cta i {
  color: #ffffff;
  font-size: 1.3em;
}

/*--------------VIDEO--------------*/

.videos {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

video {
  height: auto;
  width: 100%;
}

video:hover {
  border: 2px solid #ffffff;
}

/*---------------------Buttons-------------*/

.btn {
  font-size: 1.4em;
}

.btn-cta {
  color: #fff;
  background-color: #48008a;
  border: solid 4px #ffffff;
  letter-spacing: 0.6rem;
  height: auto;
  width: auto;
  text-align: center;
  border-radius: 2em;
  padding: 0.7em;
}

.send-btn{
    padding: .2em;
}

.btn-cta:hover {
  background-color: #a87b00;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-ca:active {
  border-color: #ffffff;
}

.navbar button {
  color: rgb(99, 64, 0);
}

/*---------------------CONTAINERS-------------*/

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.first-content {
  height: auto;
  padding: 60px;
}

.thin-first-content {
  height: auto;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 125px;
}

.gold-wrapper {
  height: auto;
  width: 100%;
  background-color: #e0a500;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.team{
    padding-right: 70px;
    padding-left: 0;
}

.charities {
  padding-top: 180px;
  text-align: center;
}

.gallery {
  padding: 40px;
}

.membership-block {
  position: relative;
  right: 100px;
}

.left-block {
  height: 100px;
  background-color: #ffffff;
  border-bottom-left-radius: 50%;
}

.middle-block {
  height: 100px;
  background-color: #ffffff;
}

.right-block {
  height: 100px;
  background-color: #ffffff;
  border-bottom-right-radius: 50%;
}

/*--------------------CONTACT US FORM-------------*/

.contact-form {
  text-align: right;
  font-family: "Oswald", sans-serif;
  color: #4a3700;
  font-size: 1.5em;
  margin: 0;
}

.pop-up-form {
  text-align: right;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0;
}

.form-control,
.text-input {
  width: 60%;
  border-color: #fffffa8a;
  border-style: inset;
  outline: none;
}

.contact-form h4 {
  font-size: 0.8em;
}

textarea.form-control {
  height: 4em;
  float: right;
}

.form-section h2 {
  color: #4a3700;
}

.form-section h3 {
    color: #fff;
}
/*--------------------CONTACT US items-------------*/

.contact-item {
  margin-top: 30px;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}

.contact-item i {
  font-size: 3em;
  background-color: #fafafa;
  color: #4a3700;
  border-radius: 50%;
}

.contact-item a {
  color: #4a3700;
}

/*---------------------Footer-------------*/

.social-links {
  padding-top: 80px;
}

.social-links i:hover {
  color: rgb(209, 160, 0);
}

.social-links i {
  height: 20px;
  font-size: 2.5em;
  color: #ffffff;
  padding: 10px;
  word-spacing: 50px;
}

/*---------------------Media Queries-------------*/
/* Extra Small devices (phone-portrait, less than 568px)*/
@media (max-width: 567px) {
  .callout-container {
    height: 90vh;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .logo {
    width: 10em;
    position: relative;
    left: 14px;
    top: 20px;
  }

  .navbar-toggler-icon {
    position: relative;
    right: 30px;
    bottom: 20px;
  }
  .navbar-collapse {
    position: relative;
    left: 13em;
    bottom: 2.8em;
  }

  .jumbotron-header {
    font-size: 4em;
  }

  #menu li {
    text-align: right;
    width: 6em;
  }
  .hero-image {
    width: 110vw;
  }
  .callout-container {
    padding-top: 40px;
  }
  header {
    height: auto;
  }

  .what-we-do h3 {
    width: 100%;
    padding: 30px;
  }

  .what-we-offer h3 {
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  .gold-wrapper {
    height: auto;
  }

  .first-content {
    height: auto;
    padding: 10px;
  }
  .callout-container5 {
    height: auto;
  }
  .indexfooter {
    padding-top: 0;
  }
  .contact-form {
    text-align: right;
  }
  .navbar {
    height: 10em;
  }
  footer {
    padding-top: 0;
  }
}
/*Small devices (phone landscape, tablets portrait, less than 768px)*/
@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  .logo {
    width: 10em;
    position: relative;
    bottom: 0px;
  }

  #menu {
    position: relative;
    left: -10px;
    bottom: 1.7em;
    letter-spacing: 0px;
    font-size: 1.3em;
  }
  .jumbotron {
    font-size: 0.8em;
  }
  .callout-container5 {
    height: auto;
  }
}

/*Medium devices (tablets landscape, less than 992px)*/
@media (max-width: 991.98px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  .logo {
    width: 10em;
    position: relative;
    bottom: 0px;
  }

  #menu {
    position: relative;
    bottom: 1.7em;
    letter-spacing: 0px;
    font-size: 1.35em;
  }
  .jumbotron {
    font-size: 0.8em;
  }
  .callout-container5 {
    height: auto;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  .logo {
    width: 10em;
    position: relative;
    bottom: 0px;
  }

  #menu {
    position: relative;
    bottom: 0.4em;
  }
  .jumbotron {
    font-size: 0.8em;
  }
  .callout-container5 {
    height: auto;
  }
}
