@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
/*---------------------LOGO-----------*/
body {
  overflow-x: hidden;
}

body a {
  color: #6845bd;
  text-decoration: none;
}
.logo {
  height: 300px;
  width: 300px;
  position: relative;
  left: 50px;
  top: 20px;
  float: left;
  z-index: 2;
  border-radius: 40%;
  border-bottom-right-radius: 60%;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.times-logo {
  opacity: 0.2;
}

.logo-schedule {
  text-align: center;
}

.logo-join-us{
    width: 80%;
}
/*---------------------HEADER-------------*/

header {
  height: 180px;
}

.jumbotron-header {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 700;
}

/*---------------------CALLOUT-------------*/
.callout-container {
  height: 80vh;
  background: url(../images/bamboo.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-container7 {
  height: 30vh;
  /*  Photo by Adam Wilson on Unsplash  */
  background: url(../images/gym-wall.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.class-container {
  height: auto;
  background: url(../images/class.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0.5;
}

.indexfooter {
  height: auto;
  background: url(../images/bamboo-lower.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.galleryfooter {
  height: 10vh;
  background: url(../images/weights.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contactfooter {
  height: auto;
  background: url(../images/cupboard.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.classesfooter {
  height: auto;
  background: url(../images/women.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.callout-container5 {
  height: 70vh;
  background: url(../images/bamboo-lower.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-container2 {
  height: auto;
  background: url(../images/women.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.callout-container3 {
  height: auto;
  background: url(../images/cupboard.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-container4 {
  height: 60vh;
  background: url(../images/weights.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.class-info-container {
  height: auto;
  background: url(../images/women.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.jumbotron {
  float: center;
  background-color: #ce9a009a;
  padding: 32px;
  height: auto;
  width: auto;
  border-top-left-radius: 60%;
  border-bottom-right-radius: 60%;
}

hr {
  width: 10em;
  background-color: goldenrod;
  height: 0.15em;
  margin: auto;
}

.contact-page {
  opacity: 0.5;
}
/*---------------------NAVBAR-------------*/

#menu {
  font-size: 180%;
  list-style-type: none;
  letter-spacing: 4px;
  float: center;
  color: #674f08;
  padding-top: 15px;

  font-family: "Oswald", cursive, sans-serif;
}

#menu li {
  margin-right: 30px;
  float: left;
}

#menu li:hover {
  background-color: #0083005b;
  color: #674f08;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

.active {
  background-color: #0083005b;
  color: #674f08;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

/*---------------------TEXT-------------*/
.callout p {
  font-family: "Oswald", cursive, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #ffffff;
  border-bottom-left-radius: 20%;
  opacity: 0.8;
}

.alert a {
  color: #6845bd;
}
.what-we-do {
  text-align: justify;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom-left-radius: 20%;
}

.what-we-do h4 {
  text-align: center;
  color: #a87b00;
  width: 80%;
  padding-left: 70px;
}

.about-heading {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #674f08;
  text-align: center;
}
.membership-heading {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  background: transparent;
}

.what-we-offer {
  text-align: justify;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
}

.what-we-offer h4 {
  text-align: center;
  color: #ffffff;
  width: 80%;
  margin-right: 60px;
  padding:40px;
}

.about-text {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  width: 50%;
  text-align: justify;
  position: relative;
  color: #a87b00;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 40px;
}

.membership {
  color: #ffffff;
}

.memberships .price {
  font: bolder;
  font-size: 3rem;
  font-family: "Oswald", cursive, sans-serif;
}
.top-return {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color:#a87b00;
}
.top-return:hover{

    color:#6845bd;
    text-decoration: underline;

}


/*---------------------Membership Types-------------*/
.membership-title-gold {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  background-color: #a87b00;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.membership-title-white {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #a87b00;
  text-align: center;
  background-color: #ffffff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  width: auto;
}

.membership-title-bamboo {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.class-medals{
    text-align: center;
  list-style-type: none;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 45%;
  z-index: 100;
  height: auto;
  opacity: 1;
  width: auto;
  margin: 1.4em;
}

.memberships {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 50%;
  z-index: 100;
  height: auto;
  opacity: 1;
  width: auto;
  margin: 1.4em;
}
.memberships:hover {
  cursor: pointer;
  transform: scale(1.2);
  position: relative;
  z-index: 10;
}
.memberships h4 {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 50px;
}
.memberships li {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.memberships i {
  font-size: 80px;
}

.bronze {
  color: #ac5a0d;
  border: solid 4px #ac5a0d;
}

.bronze h4 {
  background-color: #ac5a0d;
  color: #faffff;
  border-radius: 1.2em;
}

.silver {
  color: #a8a7a3;
  border: solid 4px #a8a7a3;
}
.silver h4 {
  background-color: #a8a7a3;
  color: #faffff;
  border-radius: 1.2em;
}
.gold {
  color: #c99918;
  border: solid 4px #c99918;
}

.gold h4 {
  background-color: #c99918;
  color: #faffff;
  border-radius: 1.2em;
}
/*---------------------TEAM MEDALS-------------*/
.team-medals {
  color: #674f08;
  border: solid 4px #ffffff;
}
.team-medals h4 {
  background-color: #674f08;
  color: #c99918;
  border-radius: 1.2em;
}
/*---------------------CLASS TYPE MEDALS-------------*/

.class-type {
  color: #c99918;
  border: solid 4px #c99918;
  border-radius: 45%;
}

.class.type h4 {
  background-color: #ffffff;
  color: #674f08;
  border-radius: 1.2em;
}
/*---------------------Images-------------*/

.hero-image {
  padding-top: 0;
  background: url(images/bamboo.jpg) no-repeat bottom right fixed;
  background-size: contain;
  height: 100vmh;
  width: 100vmh;
}
.hero-image2 {
  padding-top: 0;
  background: url(images/women.jpg) no-repeat bottom right fixed;
  background-size: contain;
  height: 30vmh;
  width: 100vmh;
}

.hero-image3 {
  padding-top: 0;
  background: url(images/women.jpg) no-repeat bottom right fixed;
  background-size: contain;
  height: 40vmh;
  width: 100vmh;
}

.three-women img {
  width: 80%;
  margin-top: 100px;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
  border: solid #a87b00 2px;
}

.charity img {
  width: 80%;
  margin-top: 100px;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
  margin-left: 70px;
  border: solid #fafafa 2px;
}

.id-photo {
  height: 80px;
  border-radius: 50%;
}

.gallery img {
  padding: 25px;
  width: 100%;
  border-radius: 3em;
}

.gallery img:hover {
  border: 2px solid #a87b00;
}

.photo .leaf {
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

.qrcode {
  width: 80%;
  margin: auto 0;
  text-align: center;
}

.modal-header {
  text-align: center;
  display: inline;
}

.modal-content {
  text-align: center;
}

/*------ICONS--------*/
.modal-footer i {
  color: white;
}

.gallery i {
  color: #6845bd;
  background-color: transparent;
  font-size: 50px;
}

/*--------------VIDEO--------------*/

video {
  padding: 20px;
  margin: 0;
}
/*---------------------Buttons-------------*/

button {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 20px;
  color: #fffffa;
  background-color: #7512d1;
  border: solid 1px white;
  width: 15rem;
  text-align: center;
  border-radius: 2rem;
}

.callout .btn-cta {
  color: #fff;
  background-color: #6845bd;
  border-color: #ffffff;
  letter-spacing: 0.6rem;
  height: 5rem;
  text-align: center;
}

.btn-cta:hover {
  background-color: #a87b00;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-ca:active {
  border-color: #ffffff;
}

.join-us-btn h4 {
  font-family: "Amatic SC", cursive, sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

/*---------------------CONTAINERS-------------*/

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.first-content {
  height: 500px;
  margin: 0;
}

.thin-first-content {
  height: 250px;
  margin: 0;
}

.gold-wrapper {
  height: 80vh;
  width: 100%;
  background-color: #a87b00;
  margin: 0;
}

.thin-gold-wrapper {
  height: 320px;
  width: 100%;
  background-color: #a87b00;
}

.membership-block {
  position: relative;
  right: 100px;
}

.left-block {
  height: 100px;
  background-color: #ffffff;
  border-bottom-left-radius: 50%;
}

.middle-block {
  height: 100px;
  background-color: #ffffff;
}

.right-block {
  height: 100px;
  background-color: #ffffff;
  border-bottom-right-radius: 50%;
}
/*--------------------CONTACT US FORM-------------*/
.contact-form {
  text-align: right;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0;
}

.form-control,
.text-input {
  width: 60%;
  border-color: #fffffa8a;
  border-style: inset;
  outline: none;
}

.contact-form h4 {
  font-size: 0.8em;
}

textarea.form-control {
  height: 4em;
  float: right;
}

.form-section h2 {
  color: #674f08;
}
/*--------------------CONTACT US items-------------*/

.contact-item {
  margin-top: 30px;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}

.contact-item i {
  font-size: 3em;
  background-color: #fafafa;
  color: #674f08;
  border-radius: 50%;
}

.contact-item a {
  color: #674f08;
}

/*---------------------CSS ANIMATED MEMBERSHIP FEATURE (guided by @coding_gyan)-------------*/
* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
}

.card {
  width: 250px;
  height: 250px;
  position: relative;
  font-size: 2rem;
  color: white;
}

.front .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  background: goldenrod;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: all 1s;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  background: green;
  color: white;
  transition: all 1s;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/*---------------------Footer-------------*/
.social-links i:hover {
  color: #ffff;
}

.social-links i {
  height: 20px;
  width: 20px;
  font-size: 35px;
  color: #a87b00;
  padding: 10px;
  word-spacing: 50px;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000");
}
.navbar.navbar-2 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
}
.navbar.navbar-3 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a");
}
.navbar.navbar-4 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100");
}
.navbar.navbar-5 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5");
}
.navbar.navbar-6 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C");
}
.navbar.navbar-7 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00");
}
.navbar.navbar-8 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
}
.navbar.navbar-9 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8");
}

/*---------------------Media Queries-------------*/

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  footer {
    flex-shrink: 0;
    max-height: 40px;
  }
  #menu {
    padding-left: 0px;
    padding-right: 0px;
  }
  #menu li {
    float: left;
  }
  .callout-container5 {
    height: 200px;
  }
}

@media (max-width: 667px) {
  .callout-container {
    height: 90vh;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .logo {
    height: 20vh;
    width: 40vw;
  }

  .jumbotron-header {
    font-size: 4em;
  }
  .hero-image {
    width: 110vw;
  }

  header {
    height: 120px;
  }
  .first-content {
    height: auto;
    width: 100vw;
  }

  .gold-wrapper {
    height: auto;
  }

  .thin-first-content {
    height: auto;
  }
  .callout-container5 {
    height: auto;
  }
  .contact-form {
    text-align: right;
    margin-right: 17px;
  }
}
